.scrollable_list
  %table.list
    %thead
      %tr
        %th Email
        %th MMP admin
        %th

      - @users.each do |user|
        %tr
          %td
            = link_to user.email, user
            = link_to 'Edit', edit_user_path(user), :class => "edit_icon", :title => "Click here to view this users detail"

          %td= user.mmp_admin
          %td.destroy= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New User', new_user_path, :class => 'blue button'
