.scrollable_list
  %table.list
    %thead
      %tr
        %th Email
        %th MMP admin
        %th
        %th
        %th

      - @users.each do |user|
        %tr
          %td= user.email
          %td= user.mmp_admin
          %td= link_to 'Show', user
          %td= link_to 'Edit', edit_user_path(user), :id => "edit_user_#{user.id}"
          %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New User', new_user_path, :class => 'blue button'
