-#.actions= link_to 'New Message', "#{lookup_supplier_path(@supplier)}", :class => 'button blue remote', :data => {'target-container' => '.message_form'}
%p#notice= notice

%p
  %b Supplier:
  = @supplier.supplier
%p
  %b Name:
  = @supplier.name
%p
  %b Total:
  = @total
.scrollable_list
  %table.list
    %thead
      %tr
        %th Supplier
        %th Sku
        %th
        %th
        %th
      -  @res.items.each do |item|
        %tr
          %td= item.get('ASIN')
          %td= item.get_element('ItemAttributes').get('Model')

.message_form{:data => {"content-key" => "supplier-form"}}

= link_to 'Edit', edit_supplier_path(@supplier)
\|
= link_to 'Back', suppliers_path
