= link_to('Add Product', products_path(:product => {:sku => @title}), :method=>:post )
%p Title
= @title
%p
%br
Similar products
%br
= @similar
%p
%br
Offers
%br
= @Offers
%p
%br
OfferSummary
%br
= @OfferSummary
%p
%br
Item data
%br
= @ItemAttr
%p
%br
%p
%br
@CustomerReviews
%br
= @CustomerReviews
%p
%br
%p
%br
ImageSets
%br
= @ImageSets
%p
%br
%p
%br
@EditorialReviews
%br
= @EditorialReviews
%br
%p
%br
@LargeImage
%br
=@LargeImage
%p
%br
%p
%br
@MediumImage
%br
=@MediumImage
%p
%br
%p
%br
SmallImage
%br
= @SmallImage
%p
%br
%p
%br
@SalesRank
%br
= @SalesRank
%p
%br
%p
%br
DetailPageURL
%br
= @DetailPageURL
%p
%br
%p
%br
%p
%br
Complete XML
%br
- xml_to_dl(@item)
