!!!
%html
  %head
    %title MMP
    = stylesheet_link_tag "application/application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .jquery_widget_wrapper
    #grid_wrapper
      #wrapper
        #showgrid

        #header
          %h1#logo
            = link_to(root_path) do
              %em MMP
          #account_info
            - if user_signed_in?
              .links
                =link_to("Account Settings", "#")
                |
                =link_to("Help", "#")
                |
                =link_to("Log Out", destroy_user_session_path, method: :delete)
              #user_info
                %strong= current_user.email
            - else
              .links
                =link_to("Help", "#")
                |
                =link_to("Log In", new_user_session_path)
        #main_nav
          %ul
            %li= main_nav_link("Home", root_path, current_page?(root_path))
            - if can? :manage, Product
              %li= main_nav_link("Products", products_path, highlight_campaign_nav?(controller_name))
            %li= main_nav_link("Billing", "#todo")
            %li= main_nav_link("Suppliers", "#todo")
        #main
          - if notice
            %p.notice= notice
          - if alert
            %p.alert= alert
          = yield
        #footer
          %ul
            %li= link_to("Site Map", "#")
            %li= link_to("Privacy", "#")
            %li= link_to("Legal Notices", "#")
            %li= link_to("Terms & Conditions", "#")
          %p.copyright
            ©2011 MMP   All Rights Reserved.  Build xxxx
